<ion-menu contentId="saved-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Mozla menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content id="saved-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Mozla</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content>
  <ion-list>
    <ion-item>Menu Item</ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-no-border">
    <ion-title>Copyright - D3FT99</ion-title>
  </ion-toolbar>
</ion-footer>